.roommate-container {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2%; 
    height: fit-content;
    margin-bottom: 15%;
}

.divider {
    height: 1px;
    background-color: #ccc; 
    width: 95%; 
    margin: 0 auto; 
}