.filterbar-div {
    margin-bottom: 2%;
    margin-top: 2%;
}

.filter-button, 
.search-btn {
    background-color: #ccc; 
    color: #fff;     
    padding: 5px;
    border-radius: 5px; 
    border: 1.5px solid rgb(113, 113, 113); 
    transition: background-color 0.3s ease;
    font-size: 1em;
    width: 20vh;
    height: 6vh;
}
    
.filter-button:hover, 
.search-btn:hover {
    background-color: #80b592; 
    cursor: pointer;
}

select {
    cursor: pointer
}

select, input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: left;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
    width: 20vh;
    height: 6vh;
}

.select-div, .button-div {
    display: flex;
    justify-content: center;
    gap: 0.5%;
    margin-bottom: 1%
}

.divider {
    height: 1px;
    background-color: #ccc; 
    width: 95%; 
    margin: 0 auto; 
}

  
@media screen and (max-width: 767px) {
    .select-div, .button-div {
        flex-direction: column;
        align-items: center;
    }
    select, input, button {
        margin-bottom: 1%;
    }
}