.house {
    width: 200px; 
    height: 200px;
    margin-top: 3%;
}

@media (prefers-reduced-motion: no-preference) {
    .house {
      animation: house-spin infinite 10s linear;
    }
  }

  @keyframes house-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.loading-container {
    height: 100vh; 
}
  
