.error {
    height: 400px; 
    width: 450px; 
    &:hover {
        transform: none;   
    }
}

.error-container {
    background-color: #eec0c8;
    height: 100vh; 
}

.error-header {
    font-size: 2em;
    margin-bottom: 0; 
}

.home-button {
    margin-top: 4%; 
    border-radius: 15px;
    border: none; 
    width: 250px;
    height: 30px; 
    font-size: larger;
    cursor: pointer; 
}
