.roommate-container {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2%; 
    height: fit-content;
    margin-bottom: 15%;
}

.divider {
    height: 1px;
    background-color: #ccc; 
    width: 95%; 
    margin: 0 auto; 
}

@media screen and (max-width: 1023px) {
    .roommate-container {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1%;
        margin-bottom: 50%;
    }
}
  
@media screen and (max-width: 767px) {
    .roommate-container {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0.5%; 
        margin-bottom: 250%;
    }
}