img {
    height: 80%; 
    width: 88%; 
    cursor: pointer; 
    margin-top: 2%; 
    border-radius: 20px; 
    &:hover {
        transform: scale(1.1)
    }
}

.roommate-container {
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2%; 
    height: fit-content;
    margin-bottom: 15%;
}

.divider {
    height: 1px;
    background-color: #ccc; 
    width: 95%; 
    margin: 0 auto; 
}
